package ${packageName}.domain;

#foreach ($import in $subImportList)
import ${import};
#end
import com.jeemodel.bean.helper.JeeModelToStringBuilder;
import com.jeemodel.data.entity.${subTableBaseEntityType};

import lombok.Data;
import lombok.EqualsAndHashCode;

/**
 * 【数据库表】${subTable.functionName} 的Java实体类对象
 *   
 * 对应数据库表【${subTableName}】,是联数据库另一张主表【${tableName}】的关联子表
 * 
 * 主子表的关联关系： ${tableName}.${subTableUseColumnName} = ${subTableName}.${subTableFkName}
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Data
@EqualsAndHashCode(callSuper=true)
public class ${subClassName} extends ${subTableBaseEntityType} {

    private static final long serialVersionUID = 1L;

##遍历Java字段以及其注释####################################################
#foreach ($column in $subTable.columns)
#if(!$table.isSuperColumn($column.javaField))
    /** $column.columnComment */
#if($column.list)
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#end
    private $column.javaType $column.javaField;

#end
#end

##遍历Java字段以及其注释####################################################
    @Override
    public String toString() {
        JeeModelToStringBuilder builder = new JeeModelToStringBuilder(this);
#foreach ($column in $subTable.columns)
#if($column.javaField.length() > 2 && $column.javaField.substring(1,2).matches("[A-Z]"))
#set($AttrName=$column.javaField)
#else
#set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
#end
        builder.append("${column.javaField}", $column.javaField);
#end
        return builder.toString();
    }
## 重写toString方法-结束   
}
