<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeemodel.unit.manage.mapper.UserMapper">

	<resultMap type="User" id="UserResult">
		<id     property="id"       column="id"      />
		<result property="userName"     column="user_name"    />
		<result property="nickName"     column="nick_name"    />
		<result property="userType"     column="user_type"    />
		<result property="sex"          column="sex"          />
		<result property="password"     column="password"     />
		<result property="email"        column="email"        />
		<result property="phonenumber"  column="phonenumber"  />
		<result property="deptId"       column="dept_id"      />
		<result property="avatar"       column="avatar"       />
		<result property="loginIp"      column="login_ip"     />
		<result property="loginDate"    column="login_date"   />
		<result property="status"       column="status"       />
		
		<result property="remark"       column="remark"       />
		<result property="createBy"     column="create_by"    />
		<result property="createTime"   column="create_time"  />
		<result property="updateBy"     column="update_by"    />
		<result property="updateTime"   column="update_time"  />
		<result property="delFlag"      column="del_flag"     />
		<result property="delTime"   	column="del_time"  	/>
	</resultMap>
	
	<resultMap id="deptResult" type="Dept">
		<id     property="id"   column="dept_id"     />
		<result property="parentId" column="parent_id"   />
		<result property="deptName" column="dept_name"   />
		<result property="orderNum" column="order_num"   />
		<result property="leader"   column="leader"      />
		<result property="status"   column="dept_status" />
	</resultMap>
	
	<resultMap id="RoleResult" type="Role">
		<id     property="id"       column="role_id"        />
		<result property="roleName"     column="role_name"      />
		<result property="roleKey"      column="role_key"       />
		<result property="roleSort"     column="role_sort"      />
		<result property="dataScope"     column="data_scope"    />
		<result property="status"       column="role_status"    />
	</resultMap>
	
	<resultMap id="UserDataScopeResult" extends="UserResult" type="com.jeemodel.unit.manage.core.bean.model.UserDataScope" >
		<association property="dept"    column="dept_id" javaType="Dept" resultMap="deptResult" />
		<collection  property="roles"   javaType="java.util.List"        resultMap="RoleResult" />
	</resultMap>
	
	<resultMap id="UserListResult" extends="UserResult" type="com.jeemodel.unit.manage.bean.dto.user.UserList" >
		<association property="dept"    column="dept_id" javaType="Dept" resultMap="deptResult" />
	</resultMap>
	
	
	
	
	
	<sql id="selectUserVo">
		SELECT
			u.id,
			u.dept_id,
			u.user_name,
			u.nick_name,
			u.email,
			u.avatar,
			u.phonenumber,
			u.password,
			u.sex,
			u.status,
			u.del_flag,
			u.login_ip,
			u.login_date,
			u.create_by,
			u.create_time,
			u.remark,
			
			d.id AS dept_id,
			d.parent_id,
			d.dept_name,
			d.order_num,
			d.leader,
			d.status AS dept_status,
			
			r.id AS role_id,
			r.role_name,
			r.role_key,
			r.role_sort,
			r.data_scope,
			r.status AS role_status 
		FROM
			manage_user u
		LEFT JOIN 	manage_dept d 
			ON u.dept_id = d.id
		LEFT JOIN 	manage_user_role ur 
			ON u.id = ur.user_id
		LEFT JOIN   manage_role r 
			ON r.id = ur.role_id
    </sql>
    
    <select id="selectUserList" parameterType="com.jeemodel.unit.manage.bean.dto.user.UserListReq" resultMap="UserListResult">
		SELECT
			u.id,
			u.dept_id,
			u.nick_name,
			u.user_name,
			u.email,
			u.avatar,
			u.phonenumber,
			u.password,
			u.sex,
			u.status,
			u.del_flag,
			u.login_ip,
			u.login_date,
			u.create_by,
			u.create_time,
			u.remark,
			
			d.dept_name,
			d.leader 
		FROM
			manage_user u
		LEFT JOIN 
			manage_dept d ON u.dept_id = d.id 
		WHERE
			u.del_flag = '0'
		<if test="listReq.id != null and listReq.id != 0">
			AND u.id = #{listReq.id}
		</if>
		<if test="listReq.userName != null and listReq.userName != ''">
			AND u.user_name like concat('%', #{listReq.userName}, '%')
		</if>
		<if test="listReq.status != null and listReq.status != ''">
			AND u.status = #{listReq.status}
		</if>
		<if test="listReq.phonenumber != null and listReq.phonenumber != ''">
			AND u.phonenumber like concat('%', #{listReq.phonenumber}, '%')
		</if>
		<if test="listReq.params.beginTime != null and listReq.params.beginTime != ''"><!-- 开始时间检索 -->
			AND date_format(u.create_time,'%y%m%d') &gt;= date_format(#{listReq.params.beginTime},'%y%m%d')
		</if>
		<if test="listReq.params.endTime != null and listReq.params.endTime != ''"><!-- 结束时间检索 -->
			AND date_format(u.create_time,'%y%m%d') &lt;= date_format(#{listReq.params.endTime},'%y%m%d')
		</if>
		<if test="listReq.deptId != null and listReq.deptId != 0">
			AND (  
					u.dept_id = #{listReq.deptId} 
				OR  
					u.dept_id IN ( 
						SELECT 
							t.id 
						FROM 
							manage_dept t 
						WHERE 
							find_in_set(#{listReq.deptId}, ancestors) 
					)
			
				)
		</if>
		<!-- 数据范围过滤 -->
		<if test="dataScopeParams != null ">
			<!-- 数据范围过滤 -->
			${dataScopeParams.dataScope}
		</if>		
		<!-- ${params.dataScope} -->
	</select>
	
	<select id="selectAllocatedList" parameterType="User" resultMap="UserResult">
		SELECT DISTINCT
			u.id,
			u.dept_id,
			u.user_name,
			u.nick_name,
			u.email,
			u.phonenumber,
			u.STATUS,
			u.create_time 
		FROM
			manage_user u
		LEFT JOIN 
			manage_dept d ON u.dept_id = d.id
		LEFT JOIN 
			manage_user_role ur ON u.id = ur.user_id
		LEFT JOIN 
			manage_role r ON r.id = ur.role_id
	    where 
	    	u.del_flag = '0' 
	    and 
	    	r.id = #{roleId}
	    <if test="userName != null and userName != ''">
			AND u.user_name like concat('%', #{userName}, '%')
		</if>
		<if test="phonenumber != null and phonenumber != ''">
			AND u.phonenumber like concat('%', #{phonenumber}, '%')
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}
	</select>
	
	<select id="selectUnallocatedList" parameterType="User" resultMap="UserResult">
		SELECT DISTINCT
			u.id,
			u.dept_id,
			u.user_name,
			u.nick_name,
			u.email,
			u.phonenumber,
			u.status,
			u.create_time 
		FROM
			manage_user u
		LEFT JOIN 
			manage_dept d ON u.dept_id = d.id
		LEFT JOIN 
			manage_user_role ur ON u.id = ur.user_id
		LEFT JOIN 
			manage_role r ON r.id = ur.role_id
			 
	    WHERE 
	    	u.del_flag = '0' 
	    and 
	    	(	r.id != #{roleId} 
	    	   or 
	    		r.id IS NULL
	    	)
	    and 
	    	u.id not in  (
	    		select 
	    			u.id 
	    		from 
	    			manage_user u 
	    		inner join 
	    			manage_user_role ur 
	    		on 
	    			u.id = ur.user_id 
	    		and 
	    			ur.role_id = #{roleId}
	    		)
	    <if test="userName != null and userName != ''">
			AND 
				u.user_name like concat('%', #{userName}, '%')
		</if>
		<if test="phonenumber != null and phonenumber != ''">
			AND 
				u.phonenumber like concat('%', #{phonenumber}, '%')
		</if>
		<!-- 数据范围过滤 -->
		${params.dataScope}
	</select>
	
	<select id="selectUserByUserName" parameterType="String" resultMap="UserDataScopeResult">
	    <include refid="selectUserVo"/>
		where u.user_name = #{userName}
	</select>
	
	<select id="selectUserById" parameterType="Long" resultMap="UserResult">
		<include refid="selectUserVo"/>
		where 
			u.id = #{id}
	</select>
	
</mapper> 